/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter Tight", sans-serif;
  /* font-family: 'Barlow Condensed', sans-serif; */
  background-color: var(--background);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  /* --background-dark: #161616; */
  --background-dark: #09090b;
  /*--accent-color-dark: #232323; */
  --accent-color-dark: #27272a;
  --border-line-dark: #8d8b8b;
  --card-bg-dark: #18181b;
  --tag-gradient-dark: linear-gradient(
    39deg,
    rgba(88, 86, 86, 1) 22%,
    rgba(32, 30, 30, 1) 57%,
    rgba(88, 83, 83, 1) 100%
  );

  --text-color-dark: white;
  --accent-color-d-opposite: #f1f3f4;

  --background-light: #ededed;
  --card-bg-light: #f4f4f5;
  --border-line-light: #747575;
  --accent-color-light: #f4f4f5;
  --text-color-light: rgb(0, 0, 0);
  --accent-color-l-opposite: #3b3b40;
  --tag-gradient-light: linear-gradient(
    39deg,
    rgba(255, 255, 255, 1) 22%,
    rgba(183, 183, 183, 1) 57%,
    rgba(171, 163, 163, 1) 100%
  );
}

.hide {
  display: none;
}

.show {
  display: block;
  transition: all 0.15s linear 0s;
}

.hoverOn {
  border: 1px solid var(--accent-color);
  box-shadow: 3px 0 3px -2px rgba(0, 0, 0, 0.507);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --accent-color: var(--accent-color-dark);
    --text-color: var(--text-color-dark);
    --accent-color-opposite: var(--accent-color-d-opposite);
    --border-line: var(--border-line-dark);
    --tag-gradient: var(--tag-gradient-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--background-dark);
    --accent-color: var(--accent-color-dark);
    --text-color: var(--text-color-dark);
    --accent-color-opposite: var(--accent-color-d-opposite);
    --border-line: var(--border-line-dark);
    --tag-gradient: var(--tag-gradient-dark);
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: var(--background-light);
    --accent-color: var(--accent-color-light);
    --text-color: var(--text-color-light);
    --accent-color-opposite: var(--accent-color-l-opposite);
    --border-line: var(--border-line-light);
    --tag-gradient: var(--tag-gradient-light);
    --card-bg: var(--card-bg-light);
  }
} */

[color-scheme="dark"] {
  --background: var(--background-dark);
  --accent-color: var(--accent-color-dark);
  --text-color: var(--text-color-dark);
  --accent-color-opposite: var(--accent-color-d-opposite);
  --tag-gradient: var(--tag-gradient-dark);
  --card-bg: var(--card-bg-dark);
}

[color-scheme="light"] {
  --background: var(--background-dark);
  --accent-color: var(--accent-color-dark);
  --text-color: var(--text-color-dark);
  --accent-color-opposite: var(--accent-color-d-opposite);
  --tag-gradient: var(--tag-gradient-dark);
  --card-bg: var(--card-bg-dark);
}

/* [color-scheme="light"] {
  --background: var(--background-light);
  --accent-color: var(--accent-color-light);
  --text-color: var(--text-color-light);
  --accent-color-opposite: var(--accent-color-l-opposite);
  --tag-gradient: var(--tag-gradient-light);
  --card-bg: var(--card-bg-light);
} */

.theme {
  background-color: var(--text-color);
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.theme:is(:hover, :focus) {
  background-color: var(--accent-color);
  opacity: 0.8;
}

.svg_fill {
  color: var(--text-color);
  fill: var(--text-color);
}

/*Loading animation global style*/
.loading_container {
  padding: 1rem;
  height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
}

.lds_ripple {
  position: relative;
  display: grid;
  place-items: center;
  width: 80px;
  height: 80px;
  -webkit-transform: scale(1.7);
  transform: scale(1.7);
}

.lds_ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds_ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds_ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds_ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes lds_ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes lds_ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  .lds_ripple {
    position: relative;
    display: grid;
    place-items: center;
    width: 80px;
    height: 80px;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

.burger {
  height: 3em;
  width: 3em;
  position: relative;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s all;
  -webkit-tap-highlight-color: transparent;
}

.burger .burger-lines:after {
  left: 0;
  top: -1em;
}

.burger .burger-lines:before {
  left: 1em;
  top: 1em;
}

.burger:after {
  content: "";
  display: block;
  position: absolute;
  height: 150%;
  width: 150%;
  top: -25%;
  left: -25%;
}

.burger .burger-lines {
  top: 50%;
  margin-top: -0.125em;
}

.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
  pointer-events: none;
  display: block;
  content: "";
  width: 100%;
  border-radius: 0.25em;
  background-color: white;
  height: 0.25em;
  position: absolute;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.burger .burger-lines:after {
  left: 0;
  top: -0.6em;
}

.burger .burger-lines:before {
  left: 1em;
  top: 0.6em;
}

.burger.burger-squeeze .burger-lines,
.burger.burger-squeeze .burger-lines:after,
.burger.burger-squeeze .burger-lines:before {
  transition: 0.2s top 0.2s, 0.1s left, 0.2s transform,
    0.4s background-color 0.2s;
}

.burger.burger-squeeze .burger-lines:after,
.burger.burger-squeeze .burger-lines:before {
  width: 1.5em;
}

.burger.burger-squeeze.open .burger-lines,
.burger.burger-squeeze.open .burger-lines:after,
.burger.burger-squeeze.open .burger-lines:before {
  transition: 0.2s background-color, 0.2s top, 0.2s left, 0.2s transform 0.15s;
}

.burger.burger-squeeze.open .burger-lines {
  background-color: transparent;
}

.burger.burger-squeeze.open .burger-lines:before,
.burger.burger-squeeze.open .burger-lines:after {
  left: 0.5em;
  top: 0px;
}

.burger.burger-squeeze.open .burger-lines:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.burger.burger-squeeze.open .burger-lines:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
