.dialogOverlay {
    background-color: rgba(0, 0, 0, 0.674);
    position: fixed;
    inset: 0;
    -webkit-animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    z-index: 5;
}

.dialogContent {
    background-color: var(--accent-color);
    border-radius: 6px;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 500px;
    max-height: 85vh;
    padding: 25px;
    -webkit-animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    z-index: 5;
    ;
}

.dialogContent:focus {
    outline: none;
}

.title {
    margin: 0;
    color: var(--mauve12);
    font-size: 17px;
    font-weight: 500;
}

.title span {
    text-decoration: underline;
}

.DeleteDialogDescription {
    margin-bottom: 20px;
    color: var(--mauve11);
    font-size: 15px;
    line-height: 1.5;
}

.cancel__button,
.delete__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    height: 35px;
    cursor: pointer;
    border: 0px solid;
}


.delete__button {
    background-color: red;
    color: white;
    font-weight: 500;
}

.cancel__button:hover,
.cancel__button:focus {
    background-color: white;
}

.delete__button:hover,
.delete__button:focus {
    background-color: rgb(216, 2, 2);
    color: white;
    outline: 1.5px solid white;
}


@-webkit-keyframes overlayShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes contentShow {
    from {
        opacity: 0;
        -webkit-transform: translate(-50%, -48%) scale(0.96);
        transform: translate(-50%, -48%) scale(0.96);
    }

    to {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        -webkit-transform: translate(-50%, -48%) scale(0.96);
        transform: translate(-50%, -48%) scale(0.96);
    }

    to {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
}