.container {
    margin-top: 3rem;;
    display: grid;
    place-items: center;
    margin-bottom: 4rem;
}

.categories {
    display: grid;
    row-gap: 1rem;;
    margin-top: 1.5rem;

}
.category_cards {
    background-color: var(--accent-color);
    width:80vw;
    height: fit-content;
    padding:.5rem 1rem;
    border-radius: .5rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    white-space: wrap;
    overflow: hidden;
}

.category_cards h1 {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .container {
        margin-top: 5rem;
        margin-left: 2rem;
        display: flex;
    }
    .categories {
        grid-template-columns: repeat(5, 10rem);
        column-gap: 1rem;
        width: fit-content;
    }
    .category_cards {
        background-color: var(--accent-color);
        width:10rem;
        /* height: 4rem;; */
        height: fit-content;
    }

}